.illustration {
	&.room {
		background: #8DD9FF;
	}
}

#hall {
	top: 0;
	left: -3%;
	height: 100%;
}

#dog {
	left: 5%;
	bottom: 0;
	height: 37%;
}

#wall {
	right: -6%;
	height: 100%;
	overflow: hidden;

	#oscar-small {
		cursor: pointer;
	}

	#blinds {
		cursor: pointer;
	}

	#plane-1 text,
	#plane-2 text {
		font-family: 'Walter Turncoat', cursive !important;
		user-select: none;
	}

	#left-eye-opened,
	#right-eye-opened {
		pointer-events: none;

		circle {
			transition: transform .2s;
		}
	}
}

#lamp {
	height: 70%;
	bottom: 10%;
	right: 25%;
}

#tv {
	right: -11%;
	bottom: 0;
	width: 85%;
	pointer-events: none;
	overflow: hidden;

	& > g > g {
		pointer-events: auto;
	}

	#screen {
		cursor: pointer;
	}

	#channel-1,
	#channel-2,
	#channel-3 {
		pointer-events: none;
	}
}

#drawer {
	cursor: pointer;
}

#button-0-on,
#button-1-on,
#button-2-on,
#button-3-on {
	cursor: pointer;
}
